// ! 2.0.34.1 SCSS подкл.
$border: 1px solid #ccc;

.card {
  padding: 1rem;
  border-radius: 5px;
  margin-top: 1rem;
  border: $border;

  h2 {
    text-align: center;
    color: darkred;
    border: $border;
    background-color: #ff0;
  }
}
.rtv{
  background-color: rgb(77, 12, 15);
}
