/* ! 2.0.18 созд style.css */

/* ! 2.2.24 
$$npm i normalize.css 
нормализует базовый набор стилей под различ браузеры. Устан в prod.
~ указ что переходим в node_module
*/
@import "~normalize.css";


/* ! 2.0.23 подкл. шрифты */
@import "./fonts.css";
body {
  font-family: 'Roboto', sans-serif;
}

/* ! 2.0.18 стили */
.container {
  padding-top: 2rem;
  max-width: 1000px;
  margin: 0 auto;
  /* padding-bottom: 2rem; */
}

h1 {
  text-align: center;
}

/* ! 2.0.22 подкл. картинки */
.imgBox{
display: flex;
align-items: center;
justify-content: center;
}
.imgBox > div {
  background-color: rgb(146, 146, 146);
  /* padding: 2px; */
  margin: 2px;
  text-align: center;
}
.logo {
  height: 200px;
  width: 200px;
  margin: 0 auto;
}
.logo img{
  width: 100%
}
.logo1 , .logo2 {
  background-size: cover;
  height: 200px;
  width: 200px;
  margin: 0 auto;
}
.logo1 img, .logo2 img{
  width: 100%
}
.logo1 {
  background-image: url("../assets/webpack-logo.png");
}
.logo2 {
  background-image: url("../img/webpack-logo.png");
}

.code {
  color: crimson;
  /* color: green; */
} 