/* ! 2.0.18 созд style.css */

/* ! 2.2.24 
$$npm i normalize.css 
нормализует базовый набор стилей под различ браузеры. Устан в prod.
~ указ что переходим в node_module
*/
@import '~normalize.css';

/* ! 2.0.23 подкл. шрифты */
@import './fonts.css';

body {
  font-family: 'Roboto', sans-serif;
  background-color: #ccc;
}

/* ! 2.0.18 стили */
.container {
  padding: 1rem 0;
  max-width: 1000px;
  margin: 0 auto;
  /* padding-bottom: 2rem; */
}

h1 {
  text-align: center;
}

/* ! 2.0.22 подкл. картинки */
.img__box1 {
  display: flex;
  align-items: center;
  justify-content: center;
}
.img__box1 > div {
  background-color: rgb(146, 146, 146);
  /* padding: 2px; */
  margin: 2px;
  text-align: center;
}
.logo {
  height: 200px;
  width: 200px;
  margin: 0 auto;
}
.logo img {
  width: 100%;
}
.logo1,
.logo2 {
  background-size: cover;
  height: 200px;
  width: 200px;
  margin: 0 auto;
}
.logo1 img,
.logo2 img {
  width: 100%;
}
.logo1 {
  background-image: url('../assets/webpack-logo.png');
}
.logo2 {
  background-image: url('../img/webpack-logo.png');
}
/* ! 2.0.45 картинки выгр по док webpack */
.img__box2 {
  /* background-image: url('../img/immortal1.jpg'); */
  display: flex;
  align-items: center;
  justify-content: center;
}
.img__box2 h3, .img__box2 p{
  margin: 1px;
  background-color: rgb(221, 235, 170);
  text-align: center;
}
.img1,.img2,.img3{
  width: 250px;
  height: 250px;
}
.img2{
  background-image: url('../img/immortal1.jpg');
  background: url("../img/immortal1.jpg");
}

.hed {
  text-align: center;
  padding: 5px;
  margin: 5px auto;
  color: #efff09;
  background-color: #350101;
}

a {
  display: block;
  text-align: center;
}

.code {
  color: crimson;
  /* color: green; */
}
