// ! 2.0.44.1 eslint созд  и прописали 
// опись конфиг eslinta
{
  // явно указыв с чем работаем 
  // уснан $$ npm i -D babel-eslint
  "parser": "babel-eslint",
  // правила
  "rules": {
    // вкл прав. как предупрежд. чтоб пересобирался. error - не даст собратся проекту
    "no-unused-vars": "warn"
  },
  "env": {
    // чтоб понимал промися
    "es6": true,
    // чтоб понимал консоли. указ где работаем
    "browser": true
  },
  // расширение
  "extends": [
    // наследуемся: рекондуется
    "eslint:recommended"
  ]
}